<a href="https://colab.research.google.com/github/meriemdouider1/data_mining_project/blob/main/Pr%C3%A9paration%20du%20data_Dietary%20Data%20.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
import pandas as pd

*DR1TOT_J*:

In [42]:
data_1 = '/content/DR1TOT_J.xlsx'

In [43]:
d1= pd.read_excel(data_1,
sheet_name=0,
header=0,
index_col=False,
keep_default_na=True
)

In [44]:
d1.head()

    SEQN        WTDRD1        WTDR2D  ...  DRD370U  DRD370UQ  DRD370V
0  93703      0.000000           NaN  ...      NaN       NaN      NaN
1  93704  81714.005497  82442.869214  ...      2.0       NaN      2.0
2  93705   7185.560737   5640.391078  ...      NaN       NaN      NaN
3  93706   6463.882999      0.000000  ...      2.0       NaN      2.0
4  93707  15333.776805  22707.066970  ...      NaN       NaN      NaN

[5 rows x 168 columns]

In [45]:
len(d1)

8704

*DS1IDS_J*

In [56]:
data_2 = '/content/DS1IDS_J.xlsx'

In [57]:
d2= pd.read_excel(data_2,
sheet_name=0,
header=0,
index_col=False,
keep_default_na=True
)

In [58]:
d2.head()

    SEQN       WTDRD1       WTDR2D  ...  DS1ISELE  DS1ICAFF  DS1IIODI
0  93705  7185.560737  5640.391078  ...       NaN       NaN       NaN
1  93705  7185.560737  5640.391078  ...       NaN       NaN       NaN
2  93705  7185.560737  5640.391078  ...       NaN       NaN       NaN
3  93705  7185.560737  5640.391078  ...       NaN       NaN       NaN
4  93705  7185.560737  5640.391078  ...       4.1       NaN       NaN

[5 rows x 49 columns]

In [59]:
len(d2)

6068

In [60]:
dd = pd.merge(d1,d2)

In [61]:
len(dd)

6068

*DS1TOT_J*

In [62]:
data_3 = '/content/DS1TOT_J.xlsx'

In [63]:
d3= pd.read_excel(data_3,
sheet_name=0,
header=0,
index_col=False,
keep_default_na=True
)

In [64]:
d3.head()

    SEQN        WTDRD1        WTDR2D  ...  DS1TSELE  DS1TCAFF  DS1TIODI
0  93703      0.000000           NaN  ...       NaN       NaN       NaN
1  93704  81714.005497  82442.869214  ...       NaN       NaN       NaN
2  93705   7185.560737   5640.391078  ...      24.0       NaN     150.0
3  93706   6463.882999      0.000000  ...       NaN       NaN       NaN
4  93707  15333.776805  22707.066970  ...       NaN       NaN       NaN

[5 rows x 49 columns]

In [65]:
len(d3)

8704

*DS2IDS_J*

In [66]:
data_4 = '/content/DS2IDS_J.xlsx'

In [67]:
d4= pd.read_excel(data_4,
sheet_name=0,
header=0,
index_col=False,
keep_default_na=True
)

In [68]:
d4.head()

    SEQN       WTDRD1       WTDR2D  ...  DS2ISELE  DS2ICAFF  DS2IIODI
0  93705  7185.560737  5640.391078  ...       NaN       NaN       NaN
1  93705  7185.560737  5640.391078  ...       NaN       NaN       NaN
2  93705  7185.560737  5640.391078  ...       NaN       NaN       NaN
3  93705  7185.560737  5640.391078  ...       NaN       NaN       NaN
4  93705  7185.560737  5640.391078  ...       4.1       NaN       NaN

[5 rows x 49 columns]

In [69]:
len(d4)

5776

In [70]:
dd2 = pd.merge(d3,d4)

In [71]:
len(dd2)

5776

In [106]:
dd3=pd.merge(dd2,dd)

In [107]:
len(dd3)

4521

*DS2TOT_J*

In [108]:
data_5 = '/content/DS2TOT_J.xlsx'
d5= pd.read_excel(data_5,
sheet_name=0,
header=0,
index_col=False,
keep_default_na=True
)
len(d5)

8704

In [118]:
dd4=pd.merge(dd3,d5)

In [119]:
len(dd4)

4521

*DSQIDS_J*

In [120]:
data_6 = '/content/DSQIDS_J.xlsx'
d6= pd.read_excel(data_6,
sheet_name=0,
header=0,
index_col=False,
keep_default_na=True
)
len(d6)

9984

In [126]:
dd5=pd.merge(dd4,d6)

In [127]:
len(dd5)

4012

*DSQTOT_J*

In [131]:
data_7 = '/content/DSQTOT_J.xlsx'
d7= pd.read_excel(data_7,
sheet_name=0,
header=0,
index_col=False,
keep_default_na=True
)
len(d7)

9254

In [134]:
dd6=pd.merge(dd5,d7)

In [135]:
len(dd6)

4012

In [152]:
# writing to Excel 
datatoexcel = pd.ExcelWriter('Dietary_Data.xlsx') 
  
# write DataFrame to excel 
dd6.to_excel(datatoexcel) 
  
# save the excel 
datatoexcel.save()

#### affichage data final

In [153]:
data_f = '/content/Dietary_Data.xlsx'
df= pd.read_excel(data_f,
sheet_name=0,
header=0,
index_col=False,
keep_default_na=True
)
len(df)

4012

In [154]:
df.head()

   Unnamed: 0   SEQN       WTDRD1  ...  DSQTSELE  DSQTCAFF  DSQTIODI
0           0  93705  7185.560737  ...      21.4       NaN     150.0
1           1  93705  7185.560737  ...      21.4       NaN     150.0
2           2  93705  7185.560737  ...      21.4       NaN     150.0
3           3  93705  7185.560737  ...      21.4       NaN     150.0
4           4  93705  7185.560737  ...      21.4       NaN     150.0

[5 rows x 453 columns]