<a href="https://colab.research.google.com/github/meriemdouider1/data_mining_project/blob/main/Pr%C3%A9paration%20du%20data_Examination%20Data%20.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [14]:
import pandas as pd

*BMX_J*

In [15]:
data_1 = '/content/BMX_J.xlsx'
d1= pd.read_excel(data_1,
sheet_name=0,
header=0,
index_col=False,
keep_default_na=True
)
len(d1)

8704

In [16]:
d1.head()

    SEQN  BMDSTATS  BMXWT  BMIWT  ...  BMXWAIST  BMIWAIST  BMXHIP  BMIHIP
0  93703         1   13.7    3.0  ...      48.2       NaN     NaN     NaN
1  93704         1   13.9    NaN  ...      50.0       NaN     NaN     NaN
2  93705         1   79.5    NaN  ...     101.8       NaN   110.0     NaN
3  93706         1   66.3    NaN  ...      79.3       NaN    94.4     NaN
4  93707         1   45.4    NaN  ...      64.1       NaN    83.0     NaN

[5 rows x 21 columns]

*BPX_J*

In [17]:
data_2 = '/content/BPX_J.xlsx'
d2= pd.read_excel(data_2,
sheet_name=0,
header=0,
index_col=False,
keep_default_na=True
)
len(d2)

8704

In [18]:
d2.head()

    SEQN  PEASCCT1  BPXCHR  BPAARM  ...  BPAEN3  BPXSY4  BPXDI4  BPAEN4
0  93703       NaN   120.0     NaN  ...     NaN     NaN     NaN     NaN
1  93704       NaN   114.0     NaN  ...     NaN     NaN     NaN     NaN
2  93705       NaN     NaN     1.0  ...     2.0   198.0    74.0     2.0
3  93706       NaN     NaN     1.0  ...     2.0     NaN     NaN     NaN
4  93707       NaN     NaN     1.0  ...     2.0     NaN     NaN     NaN

[5 rows x 21 columns]

Jointure externe:
Utilise l'union des cl√©s de deux DataFrames.

In [21]:
dd1=pd.merge(d1,d2,how='outer')

In [22]:
len(dd1)

8704

In [23]:
dd1.head()

    SEQN  BMDSTATS  BMXWT  BMIWT  ...  BPAEN3  BPXSY4  BPXDI4  BPAEN4
0  93703         1   13.7    3.0  ...     NaN     NaN     NaN     NaN
1  93704         1   13.9    NaN  ...     NaN     NaN     NaN     NaN
2  93705         1   79.5    NaN  ...     2.0   198.0    74.0     2.0
3  93706         1   66.3    NaN  ...     2.0     NaN     NaN     NaN
4  93707         1   45.4    NaN  ...     2.0     NaN     NaN     NaN

[5 rows x 41 columns]

*DXXFEM_J*

In [24]:
data_3 = '/content/DXXFEM_J.xlsx'
d3= pd.read_excel(data_3,
sheet_name=0,
header=0,
index_col=False,
keep_default_na=True
)
len(d3)

2898

In [25]:
d3.head()

    SEQN  DXAFMRST  DXXFMBCC  DXXOFBMD  ...  DXXWDBMC  DXXWDA  DXAFMRK  DXAFMRD0
0  93705         1       0.0     1.058  ...      0.64    1.09   1.1522   41.9278
1  93708         1       0.0     0.801  ...      0.54    1.12   1.1595   48.2757
2  93709         1       0.0     0.880  ...      0.96    1.32   1.1472   43.8614
3  93711         1       0.0     0.851  ...      0.60    1.22   1.1522   46.9051
4  93713         1       0.0     0.778  ...      0.70    1.30   1.1400   49.2230

[5 rows x 20 columns]

In [26]:
dd2=pd.merge(dd1,d3,how='outer')

In [28]:
len(dd2)

8704

In [29]:
dd2.head()

    SEQN  BMDSTATS  BMXWT  BMIWT  ...  DXXWDBMC  DXXWDA  DXAFMRK  DXAFMRD0
0  93703         1   13.7    3.0  ...       NaN     NaN      NaN       NaN
1  93704         1   13.9    NaN  ...       NaN     NaN      NaN       NaN
2  93705         1   79.5    NaN  ...      0.64    1.09   1.1522   41.9278
3  93706         1   66.3    NaN  ...       NaN     NaN      NaN       NaN
4  93707         1   45.4    NaN  ...       NaN     NaN      NaN       NaN

[5 rows x 60 columns]

*DXXSPN_J*

In [30]:
data_4 = '/content/DXXSPN_J.xlsx'
d4= pd.read_excel(data_4,
sheet_name=0,
header=0,
index_col=False,
keep_default_na=True
)
len(d4)

2898

In [31]:
d4.head()

    SEQN  DXASPNST  DXXOSBCC  DXXL1BCC  ...  DXXL4BMC  DXXL4A  DXASPNK  DXASPND0
0  93705         1       0.0       0.0  ...     21.38   17.88   1.1432   40.5407
1  93708         1       0.0       0.0  ...     13.34   15.22   1.1554   44.6675
2  93709         1       0.0       0.0  ...     15.13   14.08   1.1495   38.7762
3  93711         1       0.0       0.0  ...     18.16   17.19   1.1493   43.4159
4  93713         1       0.0       0.0  ...     18.23   21.24   1.1337   45.0312

[5 rows x 24 columns]

In [32]:
dd3=pd.merge(dd2,d4,how='outer')

In [33]:
len(dd3)

8704

*DXX_J*

In [34]:
data_5 = '/content/DXX_J.xlsx'
d5= pd.read_excel(data_5,
sheet_name=0,
header=0,
index_col=False,
keep_default_na=True
)
len(d5)

5114

In [35]:
d5.head()

    SEQN  DXAEXSTS  DXAHEBV  DXXHEA  ...  DXDTOLE  DXDTOLI  DXDTOTOT  DXDTOPF
0  93706         1      0.0  230.99  ...  48765.6  50863.5   65831.7     22.7
1  93707         1      0.0  223.45  ...  35224.5  36691.6   45293.6     19.0
2  93711         1      0.0  241.96  ...  45725.8  48032.6   62218.4     22.8
3  93712         1      0.0  239.04  ...  47323.2  49453.3   59363.3     16.7
4  93714         1      0.0  194.67  ...  49004.1  50883.0   87820.9     42.1

[5 rows x 93 columns]

In [36]:
dd4=pd.merge(dd3,d5,how='outer')

In [37]:
len(dd4)

8704

*LUX_J*

In [38]:
data_6 = '/content/LUX_J.xlsx'
d6= pd.read_excel(data_6,
sheet_name=0,
header=0,
index_col=False,
keep_default_na=True
)
len(d6)

6401

In [39]:
dd5=pd.merge(dd4,d6,how='outer')

In [40]:
len(dd5)

8704

*OHXDEN_J*

In [41]:
data_7 = '/content/OHXDEN_J.xlsx'
d7= pd.read_excel(data_7,
sheet_name=0,
header=0,
index_col=False,
keep_default_na=True
)
len(d7)

8366

In [42]:
dd6=pd.merge(dd5,d7,how='outer')

In [43]:
len(dd6)

8704

*OHXREF_J*

In [44]:
data_8 = '/content/OHXREF_J.xlsx'
d8= pd.read_excel(data_8,
sheet_name=0,
header=0,
index_col=False,
keep_default_na=True
)
len(d8)

8366

In [45]:
dd7=pd.merge(dd6,d8,how='outer')

In [46]:
len(dd7)

8704

In [48]:
# writing to Excel 
datatoexcel = pd.ExcelWriter('Examination_Data.xlsx') 
  
# write DataFrame to excel 
dd7.to_excel(datatoexcel) 
  
# save the excel 
datatoexcel.save()

affichage data final

In [50]:
data_f = '/content/Examination_Data.xlsx'
df= pd.read_excel(data_f,
sheet_name=0,
header=0,
index_col=False,
keep_default_na=True
)
len(df)

8704

In [51]:
df.head()

   Unnamed: 0   SEQN  BMDSTATS  BMXWT  ...  OHAROCDE  OHARNF  OHAROTH  OHAPOS
0           0  93703         1   13.7  ...       NaN     1.0      NaN     1.0
1           1  93704         1   13.9  ...       NaN     1.0      NaN     1.0
2           2  93705         1   79.5  ...       NaN     1.0      NaN     1.0
3           3  93706         1   66.3  ...       NaN     1.0      NaN     1.0
4           4  93707         1   45.4  ...       NaN     1.0      NaN     1.0

[5 rows x 368 columns]