<a href="https://colab.research.google.com/github/meriemdouider1/data_mining_project/blob/main/Pr%C3%A9paration%20du%20data_que%20Data%20.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

*Diabetes*:

In [2]:
data_1 = '/content/DIQ_J.xlsx'

In [3]:
d1= pd.read_excel(data_1,
sheet_name=0,
header=0,
index_col=False,
keep_default_na=True
)

In [4]:
d1.head()

    SEQN  DIQ010  DID040  DIQ160  ...  DID350  DIQ350U  DIQ360  DIQ080
0  93703       2     NaN     NaN  ...     NaN      NaN     NaN     NaN
1  93704       2     NaN     NaN  ...     NaN      NaN     NaN     NaN
2  93705       2     NaN     2.0  ...     NaN      NaN     NaN     NaN
3  93706       2     NaN     2.0  ...     NaN      NaN     NaN     NaN
4  93707       2     NaN     2.0  ...     NaN      NaN     NaN     NaN

[5 rows x 54 columns]

In [5]:
len(d1)

8897

*Acculturation*

In [6]:
data_2 = '/content/ACQ_J.xlsx'

In [7]:
d2= pd.read_excel(data_2,
sheet_name=0,
header=0,
index_col=False,
keep_default_na=True
)

In [8]:
d2.head()

    SEQN  ACD011A  ACD011B  ACD011C  ACD040  ACD110
0  93705      1.0      NaN      NaN     NaN     NaN
1  93706      NaN      NaN      NaN     NaN     4.0
2  93707      1.0      NaN      NaN     NaN     NaN
3  93708      NaN      NaN      NaN     NaN     1.0
4  93709      1.0      NaN      NaN     NaN     NaN

In [9]:
len(d2)

8421

In [10]:
dd = pd.merge(d1,d2,how='outer')

In [11]:
len(dd)

8897

In [12]:
dd.head()

    SEQN  DIQ010  DID040  DIQ160  ...  ACD011B  ACD011C  ACD040  ACD110
0  93703       2     NaN     NaN  ...      NaN      NaN     NaN     NaN
1  93704       2     NaN     NaN  ...      NaN      NaN     NaN     NaN
2  93705       2     NaN     2.0  ...      NaN      NaN     NaN     NaN
3  93706       2     NaN     2.0  ...      NaN      NaN     NaN     4.0
4  93707       2     NaN     2.0  ...      NaN      NaN     NaN     NaN

[5 rows x 59 columns]

*Alcohol Use*

In [13]:
data_3 = '/content/ALQ_J.xlsx'

In [14]:
d3= pd.read_excel(data_3,
sheet_name=0,
header=0,
index_col=False,
keep_default_na=True
)

In [15]:
d3.head()

    SEQN  ALQ111  ALQ121  ALQ130  ...  ALQ280  ALQ290  ALQ151  ALQ170
0  93705     1.0     7.0     1.0  ...     NaN     NaN     2.0     5.0
1  93706     2.0     NaN     NaN  ...     NaN     NaN     NaN     NaN
2  93708     2.0     NaN     NaN  ...     NaN     NaN     NaN     NaN
3  93709     NaN     NaN     NaN  ...     NaN     NaN     NaN     NaN
4  93711     1.0     5.0     1.0  ...     NaN     NaN     2.0     0.0

[5 rows x 10 columns]

In [16]:
len(d3)

5533

In [17]:
dd2 = pd.merge(dd,d3,how='outer')

In [18]:
len(dd2)

8897

In [19]:
dd2.head()

    SEQN  DIQ010  DID040  DIQ160  ...  ALQ280  ALQ290  ALQ151  ALQ170
0  93703       2     NaN     NaN  ...     NaN     NaN     NaN     NaN
1  93704       2     NaN     NaN  ...     NaN     NaN     NaN     NaN
2  93705       2     NaN     2.0  ...     NaN     NaN     2.0     5.0
3  93706       2     NaN     2.0  ...     NaN     NaN     NaN     NaN
4  93707       2     NaN     2.0  ...     NaN     NaN     NaN     NaN

[5 rows x 68 columns]

*Audiometry*

In [20]:
data_4 = '/content/AUQ_J.xlsx'

In [21]:
d4= pd.read_excel(data_4,
sheet_name=0,
header=0,
index_col=False,
keep_default_na=True
)

In [22]:
d4.head()

    SEQN  AUQ054  AUQ060  AUQ070  ...  AUQ360  AUQ370  AUQ510  AUQ380
0  93703       1     NaN     NaN  ...     NaN     NaN     NaN     NaN
1  93704       1     NaN     NaN  ...     NaN     NaN     NaN     NaN
2  93705       2     NaN     NaN  ...     NaN     NaN     NaN     NaN
3  93706       1     NaN     NaN  ...     NaN     2.0     NaN     6.0
4  93707       1     NaN     NaN  ...     NaN     NaN     NaN     NaN

[5 rows x 58 columns]

In [23]:
len(d4)

8897

In [24]:
dd3 = pd.merge(dd2,d4,how='outer')

In [25]:
len(dd3)

8897

In [26]:
dd3.head()

    SEQN  DIQ010  DID040  DIQ160  ...  AUQ360  AUQ370  AUQ510  AUQ380
0  93703       2     NaN     NaN  ...     NaN     NaN     NaN     NaN
1  93704       2     NaN     NaN  ...     NaN     NaN     NaN     NaN
2  93705       2     NaN     2.0  ...     NaN     NaN     NaN     NaN
3  93706       2     NaN     2.0  ...     NaN     2.0     NaN     6.0
4  93707       2     NaN     2.0  ...     NaN     NaN     NaN     NaN

[5 rows x 125 columns]

*Blood Pressure & Cholesterol*

In [27]:
data_5 = '/content/BPQ_J.xlsx'
d5= pd.read_excel(data_5,
sheet_name=0,
header=0,
index_col=False,
keep_default_na=True
)
len(d5)

6161

In [28]:
d5.head()

    SEQN  BPQ020  BPQ030  BPD035  ...  BPQ060  BPQ070  BPQ090D  BPQ100D
0  93705       1     1.0    50.0  ...     1.0     2.0      2.0      NaN
1  93706       2     NaN     NaN  ...     1.0     2.0      2.0      NaN
2  93708       1     1.0    50.0  ...     NaN     1.0      1.0      1.0
3  93709       1     1.0    71.0  ...     1.0     2.0      2.0      NaN
4  93711       2     NaN     NaN  ...     NaN     1.0      1.0      2.0

[5 rows x 11 columns]

In [29]:
dd4 = pd.merge(dd3,d5,how='outer')

In [30]:
len(dd4)

8897

In [31]:
dd4.head()

    SEQN  DIQ010  DID040  DIQ160  ...  BPQ060  BPQ070  BPQ090D  BPQ100D
0  93703       2     NaN     NaN  ...     NaN     NaN      NaN      NaN
1  93704       2     NaN     NaN  ...     NaN     NaN      NaN      NaN
2  93705       2     NaN     2.0  ...     1.0     2.0      2.0      NaN
3  93706       2     NaN     2.0  ...     1.0     2.0      2.0      NaN
4  93707       2     NaN     2.0  ...     NaN     NaN      NaN      NaN

[5 rows x 135 columns]

*Cardiovascular Health*

In [32]:
data_6 = '/content/CDQ_J.xlsx'
d6= pd.read_excel(data_6,
sheet_name=0,
header=0,
index_col=False,
keep_default_na=True
)
len(d6)

3882

In [33]:
d6.head()

    SEQN  CDQ001  CDQ002  CDQ003  ...  CDQ009G  CDQ009H  CDQ008  CDQ010
0  93705       2     NaN     NaN  ...      NaN      NaN     NaN       2
1  93708       2     NaN     NaN  ...      NaN      NaN     NaN       2
2  93709       2     NaN     NaN  ...      NaN      NaN     NaN       2
3  93711       2     NaN     NaN  ...      NaN      NaN     NaN       2
4  93713       2     NaN     NaN  ...      NaN      NaN     NaN       1

[5 rows x 17 columns]

In [34]:
dd5 = pd.merge(dd4,d6,how='outer')

In [35]:
len(dd5)

8897

In [36]:
dd5.head()

    SEQN  DIQ010  DID040  DIQ160  ...  CDQ009G  CDQ009H  CDQ008  CDQ010
0  93703       2     NaN     NaN  ...      NaN      NaN     NaN     NaN
1  93704       2     NaN     NaN  ...      NaN      NaN     NaN     NaN
2  93705       2     NaN     2.0  ...      NaN      NaN     NaN     2.0
3  93706       2     NaN     2.0  ...      NaN      NaN     NaN     NaN
4  93707       2     NaN     2.0  ...      NaN      NaN     NaN     NaN

[5 rows x 151 columns]

*Current Health Status*

In [43]:
data_7 = '/content/HSQ_J.xlsx'
d7= pd.read_excel(data_7,
sheet_name=0,
header=0,
index_col=False,
keep_default_na=True
)
len(d7)

8366

In [44]:
d7.head()

    SEQN  HSD010  HSQ500  HSQ510  HSQ520  HSQ571  HSQ580  HSQ590  HSAQUEX
0  93703     NaN     NaN     NaN     NaN     NaN     NaN     NaN        1
1  93704     NaN     2.0     2.0     2.0     NaN     NaN     NaN        1
2  93705     3.0     2.0     2.0     2.0     2.0     NaN     1.0        2
3  93706     2.0     2.0     2.0     2.0     1.0     5.0     2.0        2
4  93707     3.0     2.0     2.0     2.0     NaN     NaN     NaN        2

In [45]:
dd6 = pd.merge(dd5,d7,how='outer')

In [46]:
len(dd6)

8897

In [47]:
dd6.head()

    SEQN  DIQ010  DID040  DIQ160  ...  HSQ571  HSQ580  HSQ590  HSAQUEX
0  93703       2     NaN     NaN  ...     NaN     NaN     NaN      1.0
1  93704       2     NaN     NaN  ...     NaN     NaN     NaN      1.0
2  93705       2     NaN     2.0  ...     2.0     NaN     1.0      2.0
3  93706       2     NaN     2.0  ...     1.0     5.0     2.0      2.0
4  93707       2     NaN     2.0  ...     NaN     NaN     NaN      2.0

[5 rows x 159 columns]

*Dermatology*

In [48]:
data_8 = '/content/DEQ_J.xlsx'
d8= pd.read_excel(data_8,
sheet_name=0,
header=0,
index_col=False,
keep_default_na=True
)
len(d8)

3419

In [49]:
d8.head()

    SEQN  DED031  DEQ034A  DEQ034C  DEQ034D  DEQ038G  DEQ038Q  DED120  DED125
0  93711     3.0      4.0      4.0      5.0      2.0      NaN    60.0   300.0
1  93714     5.0      3.0      3.0      5.0      2.0      NaN   120.0   300.0
2  93717     3.0      3.0      3.0      5.0      1.0      1.0  3333.0   240.0
3  93718     5.0      3.0      3.0      5.0      2.0      NaN  3333.0   240.0
4  93728     4.0      3.0      4.0      3.0      1.0      1.0    60.0    60.0

In [50]:
dd7 = pd.merge(dd6,d8,how='outer')

In [51]:
len(dd7)

8897

In [52]:
dd7.head()

    SEQN  DIQ010  DID040  DIQ160  ...  DEQ038G  DEQ038Q  DED120  DED125
0  93703       2     NaN     NaN  ...      NaN      NaN     NaN     NaN
1  93704       2     NaN     NaN  ...      NaN      NaN     NaN     NaN
2  93705       2     NaN     2.0  ...      NaN      NaN     NaN     NaN
3  93706       2     NaN     2.0  ...      NaN      NaN     NaN     NaN
4  93707       2     NaN     2.0  ...      NaN      NaN     NaN     NaN

[5 rows x 167 columns]

*Diet Behavior & Nutrition*

In [53]:
data_9 = '/content/DBQ_J.xlsx'
d9= pd.read_excel(data_9,
sheet_name=0,
header=0,
index_col=False,
keep_default_na=True
)
len(d9)

9254

In [54]:
d9.head()

    SEQN  DBQ010  DBD030  DBD041  ...  DBQ930  DBQ935  DBQ940  DBQ945
0  93703     1.0   273.0     1.0  ...     NaN     NaN     NaN     NaN
1  93704     1.0    60.0     3.0  ...     NaN     NaN     NaN     NaN
2  93705     NaN     NaN     NaN  ...     1.0     2.0     1.0     2.0
3  93706     NaN     NaN     NaN  ...     2.0     1.0     2.0     1.0
4  93707     NaN     NaN     NaN  ...     NaN     NaN     NaN     NaN

[5 rows x 46 columns]

In [55]:
dd8 = pd.merge(dd7,d9,how='outer')

In [56]:
len(dd8)

9254

In [57]:
dd8.head()

    SEQN  DIQ010  DID040  DIQ160  ...  DBQ930  DBQ935  DBQ940  DBQ945
0  93703     2.0     NaN     NaN  ...     NaN     NaN     NaN     NaN
1  93704     2.0     NaN     NaN  ...     NaN     NaN     NaN     NaN
2  93705     2.0     NaN     2.0  ...     1.0     2.0     1.0     2.0
3  93706     2.0     NaN     2.0  ...     2.0     1.0     2.0     1.0
4  93707     2.0     NaN     2.0  ...     NaN     NaN     NaN     NaN

[5 rows x 212 columns]

*Disability*

In [58]:
data_10 = '/content/DBQ_J.xlsx'
d10= pd.read_excel(data_10,
sheet_name=0,
header=0,
index_col=False,
keep_default_na=True
)
len(d10)

9254

In [59]:
d10.head()

    SEQN  DBQ010  DBD030  DBD041  ...  DBQ930  DBQ935  DBQ940  DBQ945
0  93703     1.0   273.0     1.0  ...     NaN     NaN     NaN     NaN
1  93704     1.0    60.0     3.0  ...     NaN     NaN     NaN     NaN
2  93705     NaN     NaN     NaN  ...     1.0     2.0     1.0     2.0
3  93706     NaN     NaN     NaN  ...     2.0     1.0     2.0     1.0
4  93707     NaN     NaN     NaN  ...     NaN     NaN     NaN     NaN

[5 rows x 46 columns]

In [60]:
dd9 = pd.merge(dd8,d10,how='outer')

In [61]:
len(dd9)

9254

In [62]:
dd9.head()

    SEQN  DIQ010  DID040  DIQ160  ...  DBQ930  DBQ935  DBQ940  DBQ945
0  93703     2.0     NaN     NaN  ...     NaN     NaN     NaN     NaN
1  93704     2.0     NaN     NaN  ...     NaN     NaN     NaN     NaN
2  93705     2.0     NaN     2.0  ...     1.0     2.0     1.0     2.0
3  93706     2.0     NaN     2.0  ...     2.0     1.0     2.0     1.0
4  93707     2.0     NaN     2.0  ...     NaN     NaN     NaN     NaN

[5 rows x 212 columns]

*Drug Use*

In [63]:
data_11 = '/content/DUQ_J.xlsx'
d11= pd.read_excel(data_11,
sheet_name=0,
header=0,
index_col=False,
keep_default_na=True
)
len(d11)

4572

In [64]:
d11.head()

    SEQN  DUQ200  DUQ210  DUQ211  ...  DUQ400U  DUQ410  DUQ420  DUQ430
0  93705     NaN     NaN     NaN  ...      NaN     NaN     NaN     NaN
1  93706     2.0     NaN     NaN  ...      NaN     NaN     NaN     NaN
2  93708     NaN     NaN     NaN  ...      NaN     NaN     NaN     NaN
3  93711     2.0     NaN     NaN  ...      NaN     NaN     NaN     NaN
4  93712     1.0    18.0     2.0  ...      NaN     NaN     NaN     2.0

[5 rows x 41 columns]

In [65]:
dd10 = pd.merge(dd9,d11,how='outer')

In [66]:
len(dd10)

9254

In [67]:
dd10.head()

    SEQN  DIQ010  DID040  DIQ160  ...  DUQ400U  DUQ410  DUQ420  DUQ430
0  93703     2.0     NaN     NaN  ...      NaN     NaN     NaN     NaN
1  93704     2.0     NaN     NaN  ...      NaN     NaN     NaN     NaN
2  93705     2.0     NaN     2.0  ...      NaN     NaN     NaN     NaN
3  93706     2.0     NaN     2.0  ...      NaN     NaN     NaN     NaN
4  93707     2.0     NaN     2.0  ...      NaN     NaN     NaN     NaN

[5 rows x 252 columns]

*Early Childhood*

In [75]:
data_12 = '/content/ECQ_J.xlsx'
d12= pd.read_excel(data_12,
sheet_name=0,
header=0,
index_col=False,
keep_default_na=True
)
len(d12)

3093

In [76]:
d12.head()

    SEQN  ECD010  ECQ020  ECD070A  ...  ECQ090  WHQ030E  MCQ080E  ECQ150
0  93703    35.0     2.0      8.0  ...     NaN      3.0      2.0     NaN
1  93704    29.0     2.0      7.0  ...     NaN      3.0      2.0     NaN
2  93707    34.0     2.0      7.0  ...     NaN      3.0      2.0     NaN
3  93710    28.0     2.0      7.0  ...     NaN      NaN      NaN     NaN
4  93719    25.0     2.0      5.0  ...     NaN      3.0      1.0     2.0

[5 rows x 10 columns]

In [77]:
dd11 = pd.merge(dd10,d12,how='outer')

In [78]:
len(dd11)

9254

In [79]:
dd11.head()

    SEQN  DIQ010  DID040  DIQ160  ...  ECQ090  WHQ030E  MCQ080E  ECQ150
0  93703     2.0     NaN     NaN  ...     NaN      3.0      2.0     NaN
1  93704     2.0     NaN     NaN  ...     NaN      3.0      2.0     NaN
2  93705     2.0     NaN     2.0  ...     NaN      NaN      NaN     NaN
3  93706     2.0     NaN     2.0  ...     NaN      NaN      NaN     NaN
4  93707     2.0     NaN     2.0  ...     NaN      3.0      2.0     NaN

[5 rows x 261 columns]

*Health Insurance*

In [80]:
data_13 = '/content/HIQ_J.xlsx'
d13= pd.read_excel(data_13,
sheet_name=0,
header=0,
index_col=False,
keep_default_na=True
)
len(d13)

9254

In [81]:
d13.head()

    SEQN  HIQ011  HIQ031A  HIQ031B  ...  HIQ260  HIQ105  HIQ270  HIQ210
0  93703       1     14.0      NaN  ...     NaN     NaN     1.0     2.0
1  93704       1     14.0      NaN  ...     NaN     NaN     1.0     2.0
2  93705       1      NaN     15.0  ...     NaN     1.0     1.0     2.0
3  93706       1     14.0      NaN  ...     NaN     NaN     1.0     2.0
4  93707       1      NaN      NaN  ...     NaN     NaN     1.0     2.0

[5 rows x 16 columns]

In [82]:
dd12 = pd.merge(dd11,d13,how='outer')

In [83]:
len(dd12)

9254

In [84]:
dd12.head()

    SEQN  DIQ010  DID040  DIQ160  ...  HIQ260  HIQ105  HIQ270  HIQ210
0  93703     2.0     NaN     NaN  ...     NaN     NaN     1.0     2.0
1  93704     2.0     NaN     NaN  ...     NaN     NaN     1.0     2.0
2  93705     2.0     NaN     2.0  ...     NaN     1.0     1.0     2.0
3  93706     2.0     NaN     2.0  ...     NaN     NaN     1.0     2.0
4  93707     2.0     NaN     2.0  ...     NaN     NaN     1.0     2.0

[5 rows x 276 columns]

*Hepatitis*

In [87]:
data_14 = '/content/HEQ_J.xlsx'
d14= pd.read_excel(data_14,
sheet_name=0,
header=0,
index_col=False,
keep_default_na=True
)
len(d14)

7878

In [88]:
d14.head()

    SEQN  HEQ010  HEQ020  HEQ030  HEQ040
0  93705       2     NaN       2     NaN
1  93706       2     NaN       2     NaN
2  93707       2     NaN       2     NaN
3  93708       2     NaN       2     NaN
4  93709       2     NaN       2     NaN

In [89]:
dd13 = pd.merge(dd12,d14,how='outer')

In [90]:
len(dd13)

9254

In [91]:
dd13.head()

    SEQN  DIQ010  DID040  DIQ160  ...  HEQ010  HEQ020  HEQ030  HEQ040
0  93703     2.0     NaN     NaN  ...     NaN     NaN     NaN     NaN
1  93704     2.0     NaN     NaN  ...     NaN     NaN     NaN     NaN
2  93705     2.0     NaN     2.0  ...     2.0     NaN     2.0     NaN
3  93706     2.0     NaN     2.0  ...     2.0     NaN     2.0     NaN
4  93707     2.0     NaN     2.0  ...     2.0     NaN     2.0     NaN

[5 rows x 280 columns]

*Hospital Utilization & Access to Care*

In [92]:
data_15 = '/content/HUQ_J.xlsx'
d15= pd.read_excel(data_15,
sheet_name=0,
header=0,
index_col=False,
keep_default_na=True
)
len(d15)

9254

In [93]:
d15.head()

    SEQN  HUQ010  HUQ020  HUQ030  ...  HUQ061  HUQ071  HUD080  HUQ090
0  93703       1     3.0       1  ...     NaN       2     NaN     NaN
1  93704       1     3.0       1  ...     NaN       2     NaN     NaN
2  93705       3     3.0       1  ...     NaN       2     NaN     2.0
3  93706       1     3.0       1  ...     NaN       2     NaN     2.0
4  93707       3     3.0       1  ...     NaN       2     NaN     1.0

[5 rows x 10 columns]

In [94]:
dd14 = pd.merge(dd13,d15,how='outer')

In [95]:
len(dd14)

9254

In [96]:
dd14.head()

    SEQN  DIQ010  DID040  DIQ160  ...  HUQ061  HUQ071  HUD080  HUQ090
0  93703     2.0     NaN     NaN  ...     NaN       2     NaN     NaN
1  93704     2.0     NaN     NaN  ...     NaN       2     NaN     NaN
2  93705     2.0     NaN     2.0  ...     NaN       2     NaN     2.0
3  93706     2.0     NaN     2.0  ...     NaN       2     NaN     2.0
4  93707     2.0     NaN     2.0  ...     NaN       2     NaN     1.0

[5 rows x 289 columns]

*Housing Characteristics*

In [97]:
data_16 = '/content/HOQ_J.xlsx'
d16= pd.read_excel(data_16,
sheet_name=0,
header=0,
index_col=False,
keep_default_na=True
)
len(d16)

9254

In [98]:
d16.head()

    SEQN  HOD050  HOQ065
0  93703     6.0     1.0
1  93704    10.0     1.0
2  93705     3.0     2.0
3  93706     NaN     NaN
4  93707     9.0     1.0

In [99]:
dd15 = pd.merge(dd14,d16,how='outer')

In [100]:
len(dd15)

9254

In [101]:
dd15.head()

    SEQN  DIQ010  DID040  DIQ160  ...  HUD080  HUQ090  HOD050  HOQ065
0  93703     2.0     NaN     NaN  ...     NaN     NaN     6.0     1.0
1  93704     2.0     NaN     NaN  ...     NaN     NaN    10.0     1.0
2  93705     2.0     NaN     2.0  ...     NaN     2.0     3.0     2.0
3  93706     2.0     NaN     2.0  ...     NaN     2.0     NaN     NaN
4  93707     2.0     NaN     2.0  ...     NaN     1.0     9.0     1.0

[5 rows x 291 columns]

*Immunization*

In [102]:
data_17 = '/content/IMQ_J.xlsx'
d17= pd.read_excel(data_17,
sheet_name=0,
header=0,
index_col=False,
keep_default_na=True
)
len(d17)

9254

In [103]:
d17.head()

    SEQN  IMQ011  IMQ020  IMQ060  ...  IMQ081C  IMQ081D  IMQ090  IMQ100
0  93703     1.0       1     NaN  ...      NaN      NaN     NaN     NaN
1  93704     3.0       1     NaN  ...      NaN      NaN     NaN     NaN
2  93705     3.0       3     NaN  ...      NaN      NaN     NaN     NaN
3  93706     1.0       1     NaN  ...      NaN      NaN     NaN     NaN
4  93707     1.0       1     NaN  ...      NaN      NaN     NaN     NaN

[5 rows x 11 columns]

In [104]:
dd16 = pd.merge(dd15,d17,how='outer')

In [105]:
len(dd16)

9254

In [106]:
dd16.head()

    SEQN  DIQ010  DID040  DIQ160  ...  IMQ081C  IMQ081D  IMQ090  IMQ100
0  93703     2.0     NaN     NaN  ...      NaN      NaN     NaN     NaN
1  93704     2.0     NaN     NaN  ...      NaN      NaN     NaN     NaN
2  93705     2.0     NaN     2.0  ...      NaN      NaN     NaN     NaN
3  93706     2.0     NaN     2.0  ...      NaN      NaN     NaN     NaN
4  93707     2.0     NaN     2.0  ...      NaN      NaN     NaN     NaN

[5 rows x 301 columns]

*Kidney Conditions - Urology*

In [107]:
data_18 = '/content/KIQ_U_J.xlsx'
d18= pd.read_excel(data_18,
sheet_name=0,
header=0,
index_col=False,
keep_default_na=True
)
len(d18)

5569

In [108]:
d18.head()

    SEQN  KIQ022  KIQ025  KIQ026  ...  KIQ470  KIQ050  KIQ052  KIQ480
0  93705       2     NaN       2  ...     NaN     1.0     1.0     2.0
1  93708       2     NaN       2  ...     NaN     1.0     1.0     3.0
2  93709       2     NaN       1  ...     NaN     NaN     NaN     NaN
3  93711       2     NaN       2  ...     NaN     NaN     NaN     3.0
4  93713       2     NaN       2  ...     NaN     NaN     NaN     0.0

[5 rows x 16 columns]

In [ ]:
dd17 = pd.merge(dd16,d18,how='outer')

In [ ]:
# writing to Excel 
datatoexcel = pd.ExcelWriter('Dietary_Data.xlsx') 
  
# write DataFrame to excel 
dd6.to_excel(datatoexcel) 
  
# save the excel 
datatoexcel.save()

#### affichage data final

In [ ]:
data_f = '/content/Dietary_Data.xlsx'
df= pd.read_excel(data_f,
sheet_name=0,
header=0,
index_col=False,
keep_default_na=True
)
len(df)

4012

In [ ]:
df.head()

   Unnamed: 0   SEQN       WTDRD1  ...  DSQTSELE  DSQTCAFF  DSQTIODI
0           0  93705  7185.560737  ...      21.4       NaN     150.0
1           1  93705  7185.560737  ...      21.4       NaN     150.0
2           2  93705  7185.560737  ...      21.4       NaN     150.0
3           3  93705  7185.560737  ...      21.4       NaN     150.0
4           4  93705  7185.560737  ...      21.4       NaN     150.0

[5 rows x 453 columns]