<a href="https://colab.research.google.com/github/meriemdouider1/data_mining_project/blob/main/Pr%C3%A9paration%20du%20data_Laboratory%20Data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

*FOLFMS_J*

In [2]:
data_1 = '/content/FOLFMS_J.xlsx'
d1= pd.read_excel(data_1,
sheet_name=0,
header=0,
index_col=False,
keep_default_na=True
)
len(d1)

5092

*GLU_J*

In [4]:
data_2 = '/content/GLU_J.xlsx'
d2= pd.read_excel(data_2,
sheet_name=0,
header=0,
index_col=False,
keep_default_na=True
)
len(d2)

3036

In [6]:
dd1=pd.merge(d1,d2)
len(dd1)

1971

*HDL_J*

In [8]:
data_3 = '/content/HDL_J.xlsx'
d3= pd.read_excel(data_3,
sheet_name=0,
header=0,
index_col=False,
keep_default_na=True
)
len(d3)

7435

In [9]:
dd2=pd.merge(dd1,d3)
len(dd2)

1971

*HEPA_J*

In [10]:
data_4 = '/content/HEPA_J.xlsx'
d4= pd.read_excel(data_4,
sheet_name=0,
header=0,
index_col=False,
keep_default_na=True
)
len(d4)

8153

In [11]:
dd3=pd.merge(dd2,d4)
len(dd3)

1971

*HEPBD_J*

In [12]:
data_5 = '/content/HEPBD_J.xlsx'
d5= pd.read_excel(data_5,
sheet_name=0,
header=0,
index_col=False,
keep_default_na=True
)
len(d5)

7435

In [13]:
dd4=pd.merge(dd3,d5)
len(dd4)

1971

*HEPB_S_J*

In [14]:
data_6 = '/content/HEPB_S_J.xlsx'
d6= pd.read_excel(data_6,
sheet_name=0,
header=0,
index_col=False,
keep_default_na=True
)
len(d6)

8153

In [15]:
dd5=pd.merge(dd4,d6)
len(dd5)

1971

*HEPC_J*

In [16]:
data_7 = '/content/HEPC_J.xlsx'
d7= pd.read_excel(data_7,
sheet_name=0,
header=0,
index_col=False,
keep_default_na=True
)
len(d7)

7435

In [18]:
dd6=pd.merge(dd5,d7)
len(dd6)

1971

*HEPE_J*

In [19]:
data_8 = '/content/HEPE_J.xlsx'
d8= pd.read_excel(data_8,
sheet_name=0,
header=0,
index_col=False,
keep_default_na=True
)
len(d8)

7435

In [20]:
dd7=pd.merge(dd6,d8)
len(dd7)

1971

*HIV_J*

In [21]:
data_9 = '/content/HIV_J.xlsx'
d9= pd.read_excel(data_9,
sheet_name=0,
header=0,
index_col=False,
keep_default_na=True
)
len(d9)

3515

In [22]:
dd8=pd.merge(dd7,d9)
len(dd8)

1175

*HSCRP_J*

In [23]:
data_10 = '/content/HSCRP_J.xlsx'
d10= pd.read_excel(data_10,
sheet_name=0,
header=0,
index_col=False,
keep_default_na=True
)
len(d10)

8366

In [24]:
dd9=pd.merge(dd8,d10)
len(dd9)

1175

*IHGEM_J*

In [25]:
data_11 = '/content/IHGEM_J.xlsx'
d11= pd.read_excel(data_11,
sheet_name=0,
header=0,
index_col=False,
keep_default_na=True
)
len(d11)

8366

In [26]:
dd10=pd.merge(dd9,d11)
len(dd10)

1175

*INS_J*

In [28]:
data_12 = '/content/INS_J.xlsx'
d12= pd.read_excel(data_12,
sheet_name=0,
header=0,
index_col=False,
keep_default_na=True
)
len(d12)

3036

In [29]:
dd11=pd.merge(dd10,d12)
len(dd11)

1175

*PBCD_J*

In [30]:
data_13 = '/content/PBCD_J.xlsx'
d13= pd.read_excel(data_13,
sheet_name=0,
header=0,
index_col=False,
keep_default_na=True
)
len(d13)

8366

In [31]:
dd12=pd.merge(dd11,d13)
len(dd12)

1175

*TCHOL_J*

In [43]:
data_14 = '/content/TCHOL_J.xlsx'
d14= pd.read_excel(data_14,
sheet_name=0,
header=0,
index_col=False,
keep_default_na=True
)
len(d14)

7435

In [44]:
dd13=pd.merge(dd12,d14)
len(dd13)

1175

*TRIGLY_J*

In [45]:
data_15 = '/content/TRIGLY_J.xlsx'
d15= pd.read_excel(data_15,
sheet_name=0,
header=0,
index_col=False,
keep_default_na=True
)
len(d15)

3036

In [46]:
dd14=pd.merge(dd13,d15)
len(dd14)

1175

*UCFLOW_J*

In [47]:
data_16 = '/content/UCFLOW_J.xlsx'
d16= pd.read_excel(data_16,
sheet_name=0,
header=0,
index_col=False,
keep_default_na=True
)
len(d16)

7936

In [49]:
dd15=pd.merge(dd14,d16)
len(dd15)

1175

*VIC_J*

In [64]:
data_17 = '/content/VIC_J.xlsx'
d17= pd.read_excel(data_17,
sheet_name=0,
header=0,
index_col=False,
keep_default_na=True
)
len(d17)

7435

In [65]:
dd16=pd.merge(dd15,d17)
len(dd16)

1175

In [68]:
# writing to Excel 
datatoexcel = pd.ExcelWriter('Laboratory Data.xlsx') 
  
# write DataFrame to excel 
dd16.to_excel(datatoexcel) 
  
# save the excel 
datatoexcel.save()

affichage data final

In [69]:
data_f = '/content/Laboratory Data.xlsx'
df= pd.read_excel(data_f,
sheet_name=0,
header=0,
index_col=False,
keep_default_na=True
)
len(df)

1175

In [70]:
df.head()

   Unnamed: 0   SEQN       WTFOL2YR  ...  LBXVIC  LBDVICSI  LBDVICLC
0           0  93711   30515.406501  ...   1.520     86.30       0.0
1           1  93718   41525.006962  ...   2.050    116.00       0.0
2           2  93731   59175.193015  ...   0.698     39.60       0.0
3           3  93735   24316.425101  ...   0.071      4.03       0.0
4           4  93738  124528.616043  ...   0.486     27.60       0.0

[5 rows x 87 columns]