<a href="https://colab.research.google.com/github/meriemdouider1/data_mining_project/blob/main/t1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np # linear algebra
import pandas as pd 
import pandas_profiling
import os
import seaborn as sns
import matplotlib
from matplotlib import pyplot as plt 
%matplotlib inline
import warnings
warnings.filterwarnings('ignore')

from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import StandardScaler
from sklearn.impute import SimpleImputer
from sklearn.decomposition import PCA
from sklearn.linear_model import LassoCV
from sklearn.ensemble import RandomForestClassifier
from sklearn.feature_selection import SelectFromModel
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import cross_val_score
from sklearn.pipeline import Pipeline
from sklearn.model_selection import GridSearchCV
from sklearn.model_selection import train_test_split,StratifiedShuffleSplit,StratifiedKFold
from sklearn import preprocessing
import operator
from sklearn.ensemble import RandomForestClassifier

import lightgbm as lgb
from sklearn.preprocessing import StandardScaler
from sklearn.impute import SimpleImputer
from sklearn.model_selection import train_test_split
from imblearn.over_sampling import SMOTE #Over sampling
import numpy as np
import time 
from itertools import cycle

from sklearn.model_selection import GridSearchCV
from sklearn.multiclass import OneVsRestClassifier
from sklearn.preprocessing import label_binarize
from scipy import interp

from sklearn.metrics import accuracy_score, classification_report, roc_auc_score, roc_curve, f1_score, auc


# Load classifiers
# ----------------
from sklearn.linear_model import LogisticRegression
from sklearn.linear_model import RidgeClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.naive_bayes import GaussianNB
from sklearn.neural_network import MLPClassifier
from sklearn.ensemble import GradientBoostingClassifier
from sklearn.ensemble import BaggingClassifier
from sklearn.svm import SVC
from sklearn.naive_bayes import GaussianNB
from yellowbrick.classifier import ClassificationReport
from sklearn.linear_model import LogisticRegression
from sklearn.linear_model import RidgeClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.naive_bayes import GaussianNB
from sklearn.neural_network import MLPClassifier
from sklearn.ensemble import GradientBoostingClassifier
from sklearn.ensemble import BaggingClassifier
import xgboost as xgb
from xgboost import XGBClassifier

Reading data

In [ ]:
demographic = '/content/DEMO_J.xlsx'
d_demographic= pd.read_excel(demographic,
sheet_name=0,
header=0,
index_col=False,
keep_default_na=True
)

In [ ]:
d_demographic.describe(include="all")

                SEQN  SDDSRVYR  ...     INDFMIN2     INDFMPIR
count    9254.000000    9254.0  ...  8780.000000  8023.000000
mean    98329.500000      10.0  ...    12.202506     2.375490
std      2671.544029       0.0  ...    17.155294     1.600291
min     93703.000000      10.0  ...     1.000000     0.000000
25%     96016.250000      10.0  ...     6.000000     1.040000
50%     98329.500000      10.0  ...     8.000000     1.920000
75%    100642.750000      10.0  ...    14.000000     3.690000
max    102956.000000      10.0  ...    99.000000     5.000000

[8 rows x 46 columns]

In [ ]:
d_demographic

        SEQN  SDDSRVYR  RIDSTATR  ...  INDHHIN2  INDFMIN2  INDFMPIR
0      93703        10         2  ...      15.0      15.0      5.00
1      93704        10         2  ...      15.0      15.0      5.00
2      93705        10         2  ...       3.0       3.0      0.82
3      93706        10         2  ...       NaN       NaN       NaN
4      93707        10         2  ...      10.0      10.0      1.88
...      ...       ...       ...  ...       ...       ...       ...
9249  102952        10         2  ...       4.0       4.0      0.95
9250  102953        10         2  ...      12.0      12.0       NaN
9251  102954        10         2  ...      10.0      10.0      1.18
9252  102955        10         2  ...       9.0       9.0      2.24
9253  102956        10         2  ...       7.0       7.0      1.56

[9254 rows x 46 columns]

In [ ]:
pip install pandas-profiling[notebook]

Requirement already satisfied: pandas-profiling[notebook] in /usr/local/lib/python3.7/dist-packages (1.4.1)
  WARNING: pandas-profiling 1.4.1 does not provide the extra 'notebook'
Requirement already satisfied: matplotlib>=1.4 in /usr/local/lib/python3.7/dist-packages (from pandas-profiling[notebook]) (3.2.2)
Requirement already satisfied: pandas>=0.19 in /usr/local/lib/python3.7/dist-packages (from pandas-profiling[notebook]) (1.1.5)
Requirement already satisfied: jinja2>=2.8 in /usr/local/lib/python3.7/dist-packages (from pandas-profiling[notebook]) (2.11.3)
Requirement already satisfied: six>=1.9 in /usr/local/lib/python3.7/dist-packages (from pandas-profiling[notebook]) (1.15.0)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=1.4->pandas-profiling[notebook]) (2.4.7)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=1.4->pandas-profiling[notebook]) (1.3.1)
Requirement already satisfied: numpy>=1.11 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=1.4->pandas-profiling[notebook]) (1.19.5)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=1.4->pandas-profiling[notebook]) (0.10.0)
Requirement already satisfied: python-dateutil>=2.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=1.4->pandas-profiling[notebook]) (2.8.1)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.19->pandas-profiling[notebook]) (2018.9)
Requirement already satisfied: MarkupSafe>=0.23 in /usr/local/lib/python3.7/dist-packages (from jinja2>=2.8->pandas-profiling[notebook]) (1.1.1)

In [ ]:
from pandas_profiling import ProfileReport
prof = ProfileReport(d_demographic)
prof.to_file(output_file='output.html')

TypeError: ignored